.box-area {
    padding: 30px;
    margin-bottom: 30px;
    background: #F0F0F0;
    border-bottom: 10px solid #E2E2E2;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid #7B1801;
}
h2{
    text-align: center;
}
@media screen and (max-width:500px) {
    .left {
        top: 1%;
        font-size: 100px;
    }
    .linkstyle-li{
        font-size: 50px;
    }
    .body{
        background-color: hotpink;
    }
}
.left {
    position: fixed;
    top: 25%;
    left: 0;
    width: 15%;
    transition: width ease .5s;
}
body.open-nav {
    width:250px;
}
.linkstyle:visited{
    color:darkred;
}
a.linkstyle:visited{
    color: ghostwhite;
}
body{
    background-color: #e6e6e6;
}
@font-face {
    font-family: Verdana,Geneva,sans-serif;
}

ul.left {
    list-style: none;
    padding: 0;
    margin-bottom: 10%;

}
.box-area-calc{
    padding: 2% 2% 2% 2%;
    margin: 2% 10% 2% 10%;
    background: #F0F0F0;
    border-bottom: 10px solid #E2E2E2;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid #7B1801;
}
.example-img{
    align-content: center;
    height: 28em;
    width: 50em;

}

a:visited{
    color: black;
}
.left-calc{
    position: fixed;
    top: 25%;
    left: 0;
    width: 10%;
    transition: width ease .5s;
    list-style: none;
    padding: 0;
}
li.left-li {
    margin-bottom:3%;
    background-color: #4CAF50;
    color: #000036;
    padding: 5%;
    font-size: 120%;
    border: none;
    cursor: pointer;
}
.linkstyle-li:visited
{
    color: #000036;
}
.linkstyle:visited
{
    color: whitesmoke;
}
a.linkstyle-li {
    color: #000036;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color ease .35s,
    border-bottom-color ease .35s;
}

a.linkstyle {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color ease .35s,
    border-bottom-color ease .35s;
}

.left:hover {
     color:white;
     border-bottom-color:white;
 }

.left.open {
     font-size:1.75rem;
     font-weight:700;
     border:0;
 }

.right {
    font-family: 'Open Sans', sans-serif;
    /* ref bra font fra http://www.bhavesads.com/webdesign/using-web-friendly-fonts.php */
    position: relative;
    margin-top: 2%;
    margin-right: 8%;
    margin-left: 15%;
    margin-bottom: 10%;
    /*transition: margin-left ease 5s ;*/
}
    body.open-nav {
    margin-left:275px; // push the right column further when left is opened
}
.header {
    width: 100%;
    height: 10%;
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
}
footer{
    font-family: 'Open Sans', sans-serif;
    height: 5%;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    color: ghostwhite;
    background: #343436;
    border-top: 1px solid #3E3E3F;
    z-index: 10;
    font-size: 90%;
}
